@import 'mixins/index.scss';
@import 'vars.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li {
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

a,
a span,
a span::before,
a:hover {
  text-decoration: none;
}

.quote {
  padding: 20px;
  border-left: 2px solid #DDDDDD;
  font-weight: 100;
  @include _575 {
    padding: 10px;
  }
}

.divider {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 3fr;
  grid-gap: $template-gap;
  @include _991 {
    grid-template-columns: minmax(0, 1fr);
  }
  @include _575 {
    grid-gap: $template-gap-adaptive;
  }
}

.splide__slide {
  display: flex;
  justify-content: center;
}

.el-badge__content.is-fixed {
  transform: translateY(10%) translateX(35%) !important;
}

.el-overlay-dialog {
  text-align: center !important;
}

.el-dialog {
  text-align: left !important;
  border-radius: 8px !important;
  display: inline-block !important;
  &__header {
    padding: $dialog-padding $dialog-padding 0 !important;
    font-weight: 750;
    display: flex !important;
    justify-content: space-between !important;
    align-items: flex-start;
    grid-gap: 20px;
  }
  &__title {
    font-size: 20px !important;
  }
  &__close {
    font-size: 25px !important;
  }
  &__headerbtn {
    position: relative !important;
    top: 0 !important;
    right: 0 !important;
  }
  &__body {
    padding: $dialog-padding $dialog-padding 0 !important;
  }
  &__footer {
    padding: 10px $dialog-padding $dialog-padding !important;
  }

  @include _1199 {
    width: 75% !important;
  }

  @include _767 {
    border-radius: 0 !important;
    &__title {
      font-size: 16px !important;
    }
  }

  @include _575 {
    width: 100% !important;
  }
}
