@import 'mixins/index.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li {
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.quote {
  margin: 20px 0;
  padding: 20px;
  border-left: 2px solid #DDDDDD;
  font-weight: 100;
}
