@import 'mixins/index.scss';
@import 'vars.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li {
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

a,
a span,
a span::before,
a:hover {
  text-decoration: none;
}

.quote {
  padding: 20px;
  border-left: 2px solid #DDDDDD;
  font-weight: 100;
  @include _575 {
    padding: 10px;
  }
}

.divider {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 3fr;
  grid-gap: $template-gap;
  @include _991 {
    grid-template-columns: minmax(0, 1fr);
  }
  @include _575 {
    grid-gap: $template-gap-adaptive;
  }
}

.el-badge__content.is-fixed {
  transform: translateY(10%) translateX(35%) !important;
}

.el-overlay-dialog {
  overflow: hidden !important;
}

.splide__slide {
  display: flex;
  justify-content: center;
}
